<div>
  <h2 id="page-heading" data-cy="GlutenProfileHeading">
    <span jhiTranslate="noGluGoApp.glutenProfile.home.title">Gluten Profiles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="noGluGoApp.glutenProfile.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-gluten-profile"
        [routerLink]="['/gluten-profile/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="noGluGoApp.glutenProfile.home.createLabel"> Create a new Gluten Profile </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="glutenProfiles?.length === 0">
    <span jhiTranslate="noGluGoApp.glutenProfile.home.notFound">No Gluten Profiles found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="glutenProfiles && glutenProfiles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="noGluGoApp.glutenProfile.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="diseas">
            <div class="d-flex">
              <span jhiTranslate="noGluGoApp.glutenProfile.diseas">Diseas</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="otherDiseas">
            <div class="d-flex">
              <span jhiTranslate="noGluGoApp.glutenProfile.otherDiseas">Other Diseas</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="strictnessLevel">
            <div class="d-flex">
              <span jhiTranslate="noGluGoApp.glutenProfile.strictnessLevel">Strictness Level</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="diaryFreePreferenceLvl">
            <div class="d-flex">
              <span jhiTranslate="noGluGoApp.glutenProfile.diaryFreePreferenceLvl">Diary Free Preference Lvl</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="veganPreferenceLvl">
            <div class="d-flex">
              <span jhiTranslate="noGluGoApp.glutenProfile.veganPreferenceLvl">Vegan Preference Lvl</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ketoPreferenceLvl">
            <div class="d-flex">
              <span jhiTranslate="noGluGoApp.glutenProfile.ketoPreferenceLvl">Keto Preference Lvl</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span jhiTranslate="noGluGoApp.glutenProfile.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <div class="d-flex">
              <span jhiTranslate="noGluGoApp.glutenProfile.createdDate">Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span jhiTranslate="noGluGoApp.glutenProfile.lastModifiedBy">Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <div class="d-flex">
              <span jhiTranslate="noGluGoApp.glutenProfile.lastModifiedDate">Last Modified Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userId">
            <div class="d-flex">
              <span jhiTranslate="noGluGoApp.glutenProfile.userId">User Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let glutenProfile of glutenProfiles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/gluten-profile', glutenProfile.id, 'view']">{{ glutenProfile.id }}</a>
          </td>
          <td jhiTranslate="{{ 'noGluGoApp.Diseas.' + glutenProfile.diseas }}">{{ glutenProfile.diseas }}</td>
          <td>{{ glutenProfile.otherDiseas }}</td>
          <td>{{ glutenProfile.strictnessLevel }}</td>
          <td>{{ glutenProfile.diaryFreePreferenceLvl }}</td>
          <td>{{ glutenProfile.veganPreferenceLvl }}</td>
          <td>{{ glutenProfile.ketoPreferenceLvl }}</td>
          <td>{{ glutenProfile.createdBy }}</td>
          <td>{{ glutenProfile.createdDate | formatMediumDatetime }}</td>
          <td>{{ glutenProfile.lastModifiedBy }}</td>
          <td>{{ glutenProfile.lastModifiedDate | formatMediumDatetime }}</td>
          <td>{{ glutenProfile.userId }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/gluten-profile', glutenProfile.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/gluten-profile', glutenProfile.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(glutenProfile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="glutenProfiles && glutenProfiles.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
